{{/*
Return a formatted author/person name from data.

Input (flexible):
- dict with "slug" key, or a raw string slug.

Output (string)
*/}}

{{ $slug := .}}
{{ $profile := partial "functions/get_author_profile" $slug }}
{{ $avatar := $profile.avatar }}
<div class="group inline-flex items-center text-current ml-1">
{{ with $avatar }}
    {{ $avatar_32 := .Process "Fill 32x32 Center webp" }}
    <img src="{{ $avatar_32.RelPermalink }}" 
        width="16"
        height="16"
        alt="{{ $profile.title }}" 
        class="inline-block h-4 w-4 rounded-full border border-current gap-x-1.5" 
        loading="lazy" />
{{ end }}
<div class="mr-0">{{ $profile.title }}</div>
</div>
{{/* Add author note tooltip if available */}}
