@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Staatliches&display=swap');


.navbar-brand {
    font-family: 'Staatliches';
    font-size-adjust: .8;
}

:is(h1,h2) {
    font-family: 'Staatliches';
    letter-spacing: .75px;
}

#about-hero > .bg-image {
    filter: brightness(.5);
    background-position: 50% 5%;
    background-size: cover;
}

.font-emphasis {
    font-family: 'Staatliches';
}

.font-lab-member {
    text-decoration: underline;
}